{% load static %}
<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iniciar sessió - Targeta Única</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="/static/login/css/style.css">

        <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96"/>
        <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg"/>
        <link rel="shortcut icon" href="/static/favicon/favicon.ico"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png"/>
        <meta name="apple-mobile-web-app-title" content="TU"/>
        <link rel="manifest" href="/static/favicon/site.webmanifest"/>

        <script src="https://kit.fontawesome.com/c3c63f74a9.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="login-container">
            <div class="login-image"></div>

            <div class="login-form-wrapper">
                <div class="login-logo">
                    <img src="{% static 'login/img/logo_tu.png' %}" alt="targetaUnica">
                </div>

                <div class="login-title">
                    Iniciar sessió
                </div>

                {% if messages %}
                    {% for message in messages %}
                        <div class="notification">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <form method="post" class="login-form">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            <input class="input" type="email" name="email" placeholder="Correu electrònic" required autofocus>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="password" name="password" placeholder="Contrasenya" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button">
                                Iniciar sessió
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>