{% load static %}
<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="/static/front/css/style.css">

        <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/static/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="TU" />
        <link rel="manifest" href="/static/favicon/site.webmanifest" />

        <script src="https://kit.fontawesome.com/c3c63f74a9.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-end">
                    {% if request.session.token %}
                        <a href="{% url 'dashboard' %}" class="navbar-item">
                            <strong>Inici</strong>
                        </a>
                        <a href="{% url 'passatger_list' %}" class="navbar-item">
                            <strong>Passatgers</strong>
                        </a>
                        <a href="{% url 'targeta_list' %}" class="navbar-item">
                            <strong>Targetes</strong>
                        </a>
                        <a href="{% url 'user_list' %}" class="navbar-item">
                            <strong>Usuaris</strong>
                        </a>
                        <div class="navbar-item">
                            <a href="{% url 'logout' %}" class="button">
                                <span class="icon">
                                    <i class="fa-regular fa-circle-user"></i>
                                </span>
                                <span>{{ request.session.email }}</span>
                            </a>
                        </div>
                    {% else %}
                        <div class="navbar-item">
                            <a href="{% url 'login' %}" class="button">
                                <span class="icon">
                                    <i class="fa-regular fa-circle-user"></i>
                                </span>
                                <span>Sessió no iniciada</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="notification {% if message.tags %}is-{{ message.tags }}{% else %}is-info{% endif %} is-light">
                        <button class="delete"></button>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>© 2026 per <a href="https://www.linkedin.com/in/jaumellinas">Jaume Llinàs Sansó</a>. Codi font <a href="https://github.com/jaumellinas/tuFRONT" target="_blank">disponible a GitHub</a>.</p>
            </div>
        </footer>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;
                    $delete.addEventListener('click', () => {
                        $notification.parentNode.removeChild($notification);
                    });
                });
            });
        </script>
    </body>
</html>