{% extends 'base.html' %}

{% block title %}{{ targeta.codi_targeta }} - Targeta Única{% endblock %}

{% block content %}
<div class="box">
    <div style="max-width: 650px; margin: 2rem auto; text-align: center;">
        {% include "targetes/targeta.svg" %}
    </div>
    <div class="buttons is-centered">
        <a href="{% url 'targeta_edit' targeta.id %}" class="button">
            <span class="icon">
                <i class="fa-solid fa-pen-to-square"></i>
            </span>
            <span>Editar</span>
        </a>
        <a href="{% url 'passatger_detail' targeta.id_passatger %}" class="button">
            <span class="icon">
                <i class="fa-solid fa-user"></i>
            </span>
            <span>Veure passatger</span>
        </a>
        <a href="{% url 'targeta_list' %}" class="button">
            <span class="icon">
                <i class="fa-solid fa-angle-left"></i>
            </span>
            <span>Tornar a les targetes</span>
        </a>
    </div>
</div>
{% endblock %}